.Weather {
  border: 10px solid #c5b358;
  padding: 16px;
  margin: 30px auto;
  border-radius: 20px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: #c5b358;
  font-family: "Lobster", cursive;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #c5b358;
  font-family: "Lobster", cursive;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  color: #c5b358;
  font-family: "Lobster", cursive;
  margin: 15px;
}

.Weather .units {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  color: #c5b358;
}
